:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --gris: #757575;
    --rosa-paleta: #FFCCEA;
    --acua-paleta: #81BFDA;
    --vesh-paleta: #FEFAE0;
    --morado-paleta: #B1AFFF;
}


html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* hack para box model */
    /*scroll-snap-type: y mandatory; /* para el scroll de arriba hacia abajo */
}


*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /* 1 rem = 10px */
    background-color: var(--vesh-paleta);
}

nav {
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: 1.5rem;
}

main {
    font-family: 'Josefin Sans';
}


@media (min-width: 990px) {
    .nav-principal{
        height: 6rem;
    }
}

nav ul li {
    white-space: nowrap; /* No permitir que el texto se divida en varias líneas */
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-principal a:hover {
    color: var(--rosa-paleta);
}

.nav-principal a {
    color: var(--gris);
}

ul {
    flex-direction: row;
    /* coloca los elementos en una sola linea de manera horizontal uno despues del otro */
    justify-content: space-between;
    /*mover contenido horizontalmente en este caso se movieron hacia el centro con un espaiciado uniforme*/
}

.custom-navbar{
    background-color: var(--vesh-paleta);
}


/* Estilo para el contenedor del logo */
.nav-logo {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Estilo para la imagen de fondo */
.nav-logo::before {
    content: "";
    background-image: url('../img/Logo-Acua-sin-fondo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 9rem; /* Ajusta el ancho según tus necesidades */
    height: 9rem; /* Ajusta la altura según tus necesidades */
    display: block;
}

@media (min-width: 990px) { 
.nav-logo {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    background-image: url('../img/Logo-blanco-sin-fondo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 9rem; /* Ajusta el ancho según tus necesidades */
    height: 9rem; /* Ajusta la altura según tus necesidades */
    display: block;
}
}


.contenido-header {
    position: relative;
    display: inline-block;
}

.contenido-header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

.contenido-header img {
    display: block;
    width: 100%;
}


.contenido-principal h3{
    color: var(--acua-paleta);
    font-size: 2rem;
}

.contenido-principal h4{
    color: var(--rosa-paleta);
    font-size: 2rem;
}

@media (min-width: 480px) {
.contenedor{
    max-width: 90rem;
    margin: 0 auto; /* Centra el contenedor */
}
}

@media (max-width: 919px) {
    .color-bg-grid-principal{
        background-color: var(--morado-paleta);
    }
    .grid-izquierdo{
        display: block;
    }
    .grid-izquierdo img{
        width: 100%;
        margin-bottom: 2rem;
    }
    .grid-derecho img{
        width: 100%;
        margin-bottom: 2rem;
    }
    .grid-item6{
        height: 50rem;
        object-fit: cover; /* Ajusta la imagen para que no se deforme */
    }
    .grid-item1{
        margin-top: 3rem;
    }
}


@media (min-width: 920px) {
.color-bg-grid-principal{
    background-color: var(--morado-paleta);
    padding: 1rem;
    max-width: 100%;
    margin: 0 auto; /* Centra el contenedor */
}

.grid-principal{
    display: block;
    align-items: center;
}

.grid-principal img{
    display: block;
    max-width: 100%; /* Evita que exceda el tamaño de la celda */ 
}

.grid-izquierdo{
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.grid-derecho{
    display: flex;
    justify-content: space-between;
}
.grid-item1{
    width: 20rem; /* Ancho fijo */
  height: 25rem; /* Alto fijo */
  object-fit: cover; /* Ajusta la imagen para que no se deforme */
  margin-right: 2rem;
}

.grid-item2{
    width: 20rem; /* Ancho fijo */
  height: 25rem; /* Alto fijo */
  object-fit: cover; /* Ajusta la imagen para que no se deforme */
  margin-right: 2rem;
}

.grid-item3{
    width: 43rem; /* Ancho fijo */
  height: 38rem; /* Alto fijo */
  object-fit: cover; /* Ajusta la imagen para que no se deforme */
}

.grid-item4{
    width: 42rem; /* Ancho fijo */
  height: 48rem; /* Alto fijo */
  object-fit: cover; /* Ajusta la imagen para que no se deforme */
  margin-top: 26rem;
}

.grid-item5{
    width: 20rem; /* Ancho fijo */
  height: 35rem; /* Alto fijo */
  object-fit: cover; /* Ajusta la imagen para que no se deforme */
  margin-top: 39rem;
}

.grid-item6{
    width: 20rem; /* Ancho fijo */
  height: 35rem; /* Alto fijo */
  object-fit: cover; /* Ajusta la imagen para que no se deforme */
  margin-top: 39rem;
}
}


.about-section {
    padding: 4rem 2rem;
    background-color: #f4f4f4;
    position: relative;
}

.about-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    background: #eaeaea;
    z-index: -1;
}

.about-section h2 {
    color: #333;
    margin-bottom: 1.5rem;
}

.about-section p {
    color: #555;
    line-height: 1.6;
}

.about-section img {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(127, 127, 127, 0.8);
}

.footer {
    background-color: #222;
    color: #bbb;
    padding: 1.5rem 0;
    text-align: center;
}

.footer a {
    color: #bbb;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}